
# IDE envs and system folders
.DS_Store
**/.DS_Store
.idea
.vscode
.vscode-test
*.code-workspace
.fleet
.venv
**/.venv
.ruff_cache
.mypy_cache
venv
**__pycache__
**/venv
*.pyc 
.pyc

# skip the models directory
models/*
!models/*.sh

# keys and certificates
*.pem
*.key
*.jks
*.csr
*.srl
*.crt
*.p12
*.secrets
secrets/

# tmp folder
tmp/*

# docs
docs/build/*

# Ignore all .env files at any level
.env
env/*
*.env
*.env.local
env/*.local
**/*.env
!*.env.template
!**/*.env.template

# log files
/log/*
!/log/.gitignore
