unoserver==1.4
filetype==1.2.0
opencv-python==4.8.0.74
Pillow==10.0.0
html2image==2.0.3
Flask==2.3.2
Werkzeug==2.3.6
injector==0.20.1
gunicorn==21.2.0
tesserocr==2.6.1
pypdfium2==3.21.1
psutil==5.9.5
uharfbuzz==0.35.0
pyxml2pdf==0.3.4
psycogreen==1.0.2