setuptools==80.9.0
wheel==0.45.0
pkgconfig==1.5.0
cython==3.1.2
virtualenv==20.31.2
psutil==6.1.1
filetype==1.2.0
Pillow==11.3.0
html2image==2.0.7
MarkupSafe==3.0.2
python-multipart==0.0.20
tesserocr==2.8.0
gunicorn==23.0.0
pypdfium2[full]==4.30.0
uharfbuzz==0.50.2
pyxml2pdf==0.3.4
matplotlib==3.10.3
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
atomicwrites==1.4.1
fastapi==0.116.1
orjson==3.11.2
a2wsgi==1.10.10
httpx==0.28.1

# Pillow package dependencies
defusedxml==0.7.1
olefile==0.47

# we can only use version 1.6 of unoserver due to issues with processing/converting certain file types (like RTF and DOCX to XML)
unoserver==1.6
