services:
  ocr-service:
    extends:
      file: docker-compose.base.yml
      service: ocr-service
    networks:
      - cognet
  ocr-service-text-only:
    extends:
      file: docker-compose.base.yml
      service: ocr-service-text-only
    networks:
      - cognet

networks:
  cognet:
    driver: bridge
    name: cogstack-net
