services:
  ocr-service-dev:
    extends:
      file: docker-compose.base.yml
      service: ocr-service
    container_name: ocr-service-dev
    build:
      context: ../
      dockerfile: "Dockerfile"

  ocr-service-text-only-dev:
    extends:
      file: docker-compose.base.yml
      service: ocr-service-text-only
    container_name: ocr-service-text-only-dev
    build:
      context: ../
      dockerfile: "Dockerfile"

networks:
  cognet:
    name: cogstack-net
